$pale:#D9D5C9;
$neutral: #C0B7A9;
$grey: #8B8482;
$ltgrey: #A69F99;
$dkgrey: #574C4A;
$teal: #499C9A;
$red: #9C0B0A;
$dkred: #611427;
$dkteal: #142E32;
$font:'Roboto Condensed', sans-serif;
$font2:'Roboto Slab', serif