
.container2 {
 @extend .container;
 ul {
	list-style-type: none;
  li {
  	display: inline-block;
	a {
		color: $dkgrey;
	  }
	}
 }
}

.miniMenu {
	display: inline-block;
	margin: 0 0 0 1%;
	padding: 0;
	li {
		display: inline-block;
		line-height: 20px;
		margin: 0;
		padding: 0;
		a {
			color: white;
			&:hover{
			 color: white;	
			}	
		}
	}
}
.resume {
	display: none;
}

#skills {
	float: right;
	li{
		margin: 0 0 0 4%;
	}
} 
#experience {
	list-style-type: none;
	li{
		height: 150px;
		margin: 1% 0 0 1%;
		background: $yellow;
		border-radius: 10px;
		a{
			color: $dkgrey;
			&:hover{
				color: white;
			}	
		}
	}
}

.devEx {
	list-style-type: none;
	display: inline-block;
	margin-bottom: 20px;
	}	

	.gallery {
		text-align: center;
		height: 500px;
		p {
			height: 120px;
			overflow: scroll;
		}
		img {
			border: 3px solid $dkgrey;
			margin: 1% 0 0 0;
			height: 230px;
			width: 100%;
			}
	}
.describe {
	margin: 0 1% 0 1%;
}

.art {
	height: 100%;
	display: block;
	background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
	background-size: cover;
	background-position: 0 -325px;
}

.artwork {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	height : 300px;
	img {
		height: 250px;
		width: 250px;
		margin: 0;
		padding: 0;
		border-radius: 10px;	
	}
}

.about {
	height: 100%;
}

.dogs {
	height: 75vh;
	display: block;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../images/swampDogs.jpg');
	background-size: cover;
	background-position: 0 -300px;
	background-repeat: none;
	#ember, #billie {
	 width: 200px;
     height: 200px;
     float: right;
     margin: 0 0 0 2%;
	 box-shadow: 3px 5px 5px $dkgrey;
	 border-radius: 100%;
	}
}

	#ember {
	 background: url('../images/ember.jpg');
	 background-size: cover;
	 &:hover{
		background: url('../images/embertongue.jpg');
		background-size: cover;
		}
	}
		
	#billie {
	 background: url('../images/billie.jpg');
	 background-size: cover;
	 &:hover{
		background: url('../images/billieroar.jpg');
		background-size: cover;
		}
	}
.billie, .ember {
	margin-top: 5%;
}	

.page2 {
	margin: 0 0 0 10%;
}
