@import 'variables';
@import 'animate';
@import 'valkharvey';


* {
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	background: white;
	color:$dkgrey;
}

header {
	height: 100%;
}

a {
	color: $dkgrey;
   &:hover {
	color: $yellow;
	}
}
#contactWrap {
	margin: 0 auto;
}

.contactIcons {
	margin: 3%;
}

.modal {
	z-index: 9999;
}

.btn-primary {
	margin-top: 2%;
	background: $grey;
	border: 1px solid $dkgrey;
	&:hover{
		background: $yellow;
}}

.container2 {
 @extend .container;
 ul {
	list-style-type: none;
  li {
  	display: inline-block;
	a {
		color: $dkgrey;
	  }
	}
 }
}

.miniMenu {
	display: inline-block;
	margin: 0 0 0 1%;
	padding: 0;
	li {
		display: inline-block;
		line-height: 20px;
		margin: 0;
		padding: 0;
		a {
			color: white;
			&:hover{
			 color: white;
			}
		}
	}
}

.resume {
	display: none;
}

object {
	height: 500px;
}

#education {

	li {
		height: 120px;
	}
}

#skills {
	float: right;
	li{
		margin: 0 0 0 4%;
	}
}

.bio {
	p{
		margin-right: 5px;
	}
}

#valk {
	vertical-align: middle;
	margin: 0 0 0 10%;
	height: 260px;
	width: 260px;
	border-radius: 10px;
	box-shadow: 3px 5px 5px $dkgrey;
	background: linear-gradient(rgba(87, 76, 74, 0.2), rgba(87, 76, 74, 0.2)), url('../images/valBW.png');
	background-size: cover;
	&:hover{
		background: url('../images/valkharvey.png');
		background-size: cover;
	}
}

#experience {
	list-style-type: none;
	li{
		height: 150px;
		margin: 1% 0 0 3%;
		background: $pale;
		border-radius: 10px;
		a{
			color: $dkgrey;
			&:hover{
				color: white;
			}
		}
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		margin: 0;
		padding: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		display: inline-block;
		a{

		}
	}
}

nav a {
	font-size: 2em;
	margin: 2% 0 0 0;
	&:hover {
		color: $yellow;
	}
}

.code {
	background: $pale;
	display: none;
	ul {
	  height: 525px;
	  overflow: scroll;
	}
}

.work {
	background: $neutral;
	display: none;
	ul {
	  height: 525px;
	  overflow: scroll;
	}
}

.art {
	display: none;
	background: $ltgrey;
	ul {
	  height: 525px;
	  overflow: scroll;
	}
}

.hounds {
	display: none;
	background: $grey;
	article {
	  height: 300px;
	  overflow: scroll;
	}
}

.devEx {
	list-style-type: none;
	display: inline-block;
	margin-bottom: 20px;
	}

.gallery {
		text-align: center;
		height: 500px;
		p {
			height: 120px;
			overflow: scroll;
		}
		img {
			border: 3px solid $dkgrey;
			margin: 4% 0 0 0;
			height: 230px;
			width: 100%;
			}
	}
.describe {
	margin: 0 1% 0 1%;
}
section {
	margin: 0;
	a {
	  color: $dkgrey;
	  text-decoration: none;
	  &:hover{
		color: $yellow;
			}
		}
}

#more {
	text-align: center;
	a {
	 color: $grey;
	 &:hover {
		color: $dkgrey;
	 }
	}
}
.artwork {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	height : 300px;
	img {
		height: 250px;
		width: 250px;
		margin: 4% 0 0 0;
		padding: 0;
		border-radius: 10px;
		border: 5px solid $neutral;
		box-shadow: 1px 1px 3px $dkgrey;
	}
}

.about {
	height: 100%;
}


	#ember, #billie {
	 width: 150px;
     height: 150px;
     float: right;
     margin: 0 0 0 2%;
	 box-shadow: 3px 5px 5px $dkgrey;
	 border-radius: 100%;
	}

	#ember {
	 background: url('../images/ember.jpg');
	 background-size: cover;
	 &:hover{
		background: url('../images/embertongue.jpg');
		background-size: cover;
		}
	}

	#billie {
	 background: url('../images/billie.jpg');
	 background-size: cover;
	 &:hover{
		background: url('../images/billieroar.jpg');
		background-size: cover;
		}
	}
.billie, .ember {
	margin-top: 2%;
}
img.orchidpic {
	height: 250px;
	width: 250px;
	margin: 4% 0 0 0;
	padding: 0;
	border-radius: 10px;
	border: 5px solid $neutral;
	box-shadow: 1px 1px 3px $dkgrey;
}


footer {
	height: 75px;
	border-top: 2px solid $yellow;
	background: $ltgrey;
	ul li {
		text-align: center;
		display: inline-block;
		a {
			color: $dkgrey;
			text-decoration: none;
			&:hover{
				color: $yellow;
			}
		}
	}
}
.moreInfo {
	display: none;
}
.viewMore {
	background: blue;
}
.workInfo {
	display: none;
}
.activeNav {
  display: inline-block;
  a {
  	color: $dkgrey;
  	&:hover{
  		color: $yellow;
  	}
  }

}



.active {
	display: inline-block;
}
